* {
    box-sizing: border-box;
}
body 
{
    background:rgb(70, 70, 70);
    height:100%;
    margin:0;
}
/* 전체 페이지 */
#container 
{
    background:rgb(255, 255, 255);
    position:relative;
    left:50%;
    margin-left:-450px;
    width:900px;
    height: 900px;
}
#main 
{
    width:100%;    
    height:100%;
    background:#fff;
}
aside 
{
    float:left;
    width:270px;    
    padding:20px 50px;
    height: 900px;
    background:#ffedd1;
}
li,p 
{
    line-height: 2.0;
    font-size:0.9em;
}
.pf 
{
    border-radius:10%;
    box-shadow:3px 3px 10px 2px #222;

} 
/* Aside information */
#detail 
{
    position: relative;
    top:80px;
    margin-top: -80px;
    margin-left: -25px;
}
#sns
 {
    position:relative;
    top:100px;
 }

#main 
{
    float:right;
    width:600px;
    padding:20px;
}

#main > section 
{
    width:500px;
    padding:20px;
    margin:10px;
    border-bottom:1px dotted #222;
}

section > p, section>table 
{
    height: 170px;
    width: 500px; 
    margin-left: -5%;
}

/* 글자스타일 */
aside h1 
{
    font-size:1.8em;
    font-variant: normal;
}
aside h2 
{
    font-size:1.2em;
}
#namecard p 
{
    font-size:0.8em;
    color:rgb(99, 99, 99);
    margin-top: -15px;
    /* font-style:italic; */
}
#sns-hyper_links
{
    margin-top: -5px;
    margin-left: -23.5px;
}
#email
{
    margin-top: -10px;
}
#tel
{
    margin-top: -10px;
}

/* 추가된 이미지 파일의 경계를 부드럽게 할 수 있다 */
img
{
    border-radius: 15%;
}
.subtitle 
{
    font-size:1.5em;
    /* padding-left:45px; */
    line-height:0.9em;
    margin-left: 25%;
    margin-bottom: 5%;
    margin-top: -2.5%;
}
.subtitle::before 
{
    content:"";
    display:block;
    background:url("") no-repeat;
    width:24px;
    height:24px;
    float:left;
    margin:0 15px 0 0;
}
section > p 
{
    font-size:0.9em;
}

.label 
{
    display:inline-block;
    width:80px;
    color:purple;
    font-weight:bold;
}

meter 
{
    width:200px;
    margin-right:10px;    
}

